@import "tailwindcss";

/* Thin scrollbar with soft rounded thumb */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #111111;
}

::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 8px;
    margin-left: 2px;
    margin-right: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333333;
}
